<div class = "col-md-6 _8051">
	<h4 class="title">8051 </h4>
	<ul class="list-group">
		<% count = 0 %>
		<% @_8051_files.each do |file| %>
			<% name = "8051_#{count}" %>
			<li class = "list-group-item show-hide" name = "<%=name%>" id ='<%= "tog_8051_#{count}"%>'>SHOW</li>  
			<li id = "<%=name%>" class="list-group-item to-rm"><pre><code><%= file %></code></pre></li>
			<% count = count +1  %>
		<%end %>
	</ul>
</div>
